<head>

</head>
<body>
    <div style="background-color:#0078A9; font:30px bold; font-family:'Calibri'; color:white; text-align:center;">
        <img src="https://www.ppg.com/Content/images/ppg-logo.png" align="left" width="70" style="padding-left:10px; padding-top:5px;">
        <span>H2H Santander</span>
    </div>
    <div style="background-color:#0078A9; font:15px bold; font-family:'Calibri'; color:white; text-align:center;">
        <span>&nbsp;</span>
    </div>
    <hr />
    <div>
        <h4 class="textoCorreo text-justify">
            Estimado proveedor,
        </h4>
        <br />
        <h4 class="textoCorreo text-justify">
            Se notifica que el proceso de envió vía H2H a Santander finalizo de manera:
        </h4>
        <h4 class="textoCorreo text-justify">
            <li style="padding-left:10px">Correcta:</li>
        </h4>
        <h4 class="textoCorreo text-justify">
            Se realizo la transferencia del archivo #Archivo con fecha de envió #FechaEnvio
        </h4>
    </div>
    <hr />
    <div style="background-color:#0078A9; font:30px bold; font-family:'Calibri'; color: white; text-align:center;">
        <img src="https://www.ppg.com/Content/images/ppg-logo.png" align="right" width="70" style="padding-right:10px; padding-top:5px;">
        <span>Tesoreria</span>
    </div>
    <div style="background-color:#0078A9; font:15px bold; font-family:'Calibri'; color:white; text-align:center;">
        <span>&nbsp;</span>
    </div>
</body>